@plugin "flyonui";
@import "flyonui/variants.css";
@source "./node_modules/flyonui/flyonui.js"; 
@import "tailwindcss";

@layer base {
  html {
    font-family: "Montserrat", sans-serif;
  }
}

@theme {
  --color-jerarquia1: #9dc5bc;
  --color-jerarquia2: #3eac91;
  --color-jerarquia3: #147f5e;
  --color-jerarquia4: #2b463c; 
  --color-bgcolor1: #efefef;
  --color-background-primary: #f1f1dd;
  --color-background-secondary: #526581;
  --color-background-dashboard: #DEE5E5;


  }

.perspective {
  perspective: 1000px;
}

#card img {
  transform-style: preserve-3d;
  will-change: transform;
}

.modal-blur-bg {
  background: rgba(0,0,0,0.3);
  backdrop-filter: blur(2px);
}

.input-floating-label {
  background-color: var(--color-bgcolor1);
  color: gray;
  border-radius: 0.5rem;
  font-weight: 400;
  padding: 0.25rem 0.5rem;
  outline: none;
  transition: border 0.2s;
}
.input-floating-label:focus {
  border: 1.5px solid var(--color-jerarquia3);
}


/* Ejemplo: styles/sidebar.css */

.sidebar-coorin {
  background-color: var(--color-background-dashboard);
  color: var(--color-jerarquia4);
}

.sidebar-coorin .menu-item {
  color: var(--color-jerarquia4);
  padding: 10px 12px;
  border-radius: 0.375rem;
  background-color: var(--color-background-dashboard);
  
}

.sidebar-coorin .menu-item:hover {
  background-color: var(--color-jerarquia2);
  color: var(--color-bgcolor1);
}

.sidebar-coorin .menu-item.selected,
.sidebar-coorin .menu-item.active {
  background-color: var(--color-jerarquia1);
  color: var(--color-jerarquia4);
}

.sidebar-coorin .divider {
  color: var(--color-background-secondary);
  border-color: var(--color-jerarquia3);
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sidebar-coorin .divider::before,
.sidebar-coorin .divider::after {
  content: "";
  flex: 1 1 0%;
  height: 1px;
  
  display: block;
  border-radius: 2px;
}

.sidebar-coorin .divider::before {
  margin-right: 0.75rem;
  background-color: var(--color-background-secondary);
}

.sidebar-coorin .divider::after {
  margin-left: 0.75rem;
  background-color: var(--color-background-secondary);
}